#title {
  color: white;
  cursor: pointer
}

#toolbar {
  box-shadow: 0 8px 20px -5px black;
  position: relative;
}

#cuzco_image {
  width: 100%;
  margin-bottom: -6px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}