/* Add a card effect for articles */
.card {
  background-color: #222423;
  padding: 20px;
  margin-top: 20px;
  color: white;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.side-bar-image {
  width: 90%;
  padding: 20px;
  cursor: pointer;
}

.chart-image {
  background-image: url("https://avatars3.githubusercontent.com/u/10342521?v=3&s=200");
  background-size: cover;
}

.pihole-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/1/15/Pi-hole_vector_logo.svg/1200px-Pi-hole_vector_logo.svg.png");
  background-size: cover;
}

.pivpn-image {
  background-image: url("https://dietpi.com/docs/assets/images/dietpi-software-vpn-pivpn-logo.png");
  background-size: cover;
}

.example-card {
  cursor: pointer;
  max-width: 400px;
  margin: 5px;
}
