<div class="card">
  <h2>About Me</h2>
  <img class="side-bar-image" src="../../assets/front_house_night.jpg" alt="Front House Night" />
  <p>Read my about me and check out my resume!</p>
  <div class="card">
    <h3>Other pages</h3>
    <mat-card class="example-card" >
        <mat-card-header>
        <div mat-card-avatar id="chart-image"></div>
        <mat-card-title>Bill Tracker</mat-card-title>
        <mat-card-subtitle>Bills month over month</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar id="pihole-image"></div>
          <mat-card-title>Pi Hole</mat-card-title>
          <mat-card-subtitle>Setup Walkthrough</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar id="pivpn-image"></div>
          <mat-card-title>Pi VPN</mat-card-title>
          <mat-card-subtitle>Setup Walkthrough</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </div>
  <div class="card">
    <h3>Resources</h3>
    <p>Project Euler</p>
  </div>
</div>
