#chart-image {
  background-image: url("https://avatars3.githubusercontent.com/u/10342521?v=3&s=200");
  background-size: cover;
}

#pihole-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/1/15/Pi-hole_vector_logo.svg/1200px-Pi-hole_vector_logo.svg.png");
  background-size: cover;
}

#pivpn-image {
  background-image: url("https://dietpi.com/docs/assets/images/dietpi-software-vpn-pivpn-logo.png");
  background-size: cover;
}

.example-card {
  cursor: pointer;
  max-width: 400px;
}

.grid_items {
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
}

.grid_items > div {
  padding: 10px;
}

@media only screen and (min-width: 640px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
  .grid_items > div {
    padding: 20px;
  }
}

@media only screen and (min-width: 981px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 30px;
  }
}
