<div class="row">
  <div class="leftcolumn">
    <mat-card class="card">
      <h2>About Me</h2>
      <h5>May 7, 2021</h5>
      <img
        id="profile_pic"
        src="../../assets/profile_pic.jpeg"
        alt="Christopher Hines profile pic"
      />
      <p>
        My name is Christopher Hines and I am creating this website in my spare
        time.
      </p>
      <ul>
        <li>Born on July 7, 1994 in Dallas Texas</li>
        <li>Married to Anna Watson February 25th 2020</li>
      </ul>
    </mat-card>
  </div>
  <div class="rightcolumn">
    <app-side-bar></app-side-bar>
  </div>
</div>
