<div class="row">
  <div class="leftcolumn">
    <mat-card class="card">
        <h2>PiHole installation</h2>
        <h5>May 7, 2021</h5>
    <mat-card>
        <img src="../../assets/pihole_logo.png" alt="PiHole Logo">  
    </mat-card>
    <p>Network Wide ad blocking</p>
      <p>
        To get started, install PiHole onto your raspberry pi by logging into it 
        via ssh, using the username: 'pi', and the password 'raspberry'. Then download
        the PiHole installer by running this command:
      </p>
      <div>
        <code>
            curl -sSL https://install.pi-hole.net | bash
        </code>
      </div>
      <p>
          Then, when the installer pops up
      </p>
    </mat-card>
    <mat-card class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height: 200px">Image</div>
      <p>Some text..</p>
      <p>
        Sunt in culpa qui officia deserunt mollit anim id est laborum
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco.
      </p>
    </mat-card>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height: 100px">Image</div>
      <p>Read my about me and check out my resume!</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div>
      <br />
      <div class="fakeimg">Image</div>
      <br />
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
