<div class="row">
  <div class="leftcolumn">
    <mat-card class="card">
      <h2>PiHole installation</h2>
      <h5>May 7, 2021</h5>
      <mat-card>
        <img class="pihole_image" src="../../assets/pihole/pihole_logo.png" alt="PiHole Logo" />
      </mat-card>
      <p>Network Wide ad blocking</p>
      <p>
        To get started, install PiHole onto your raspberry pi by logging into it
        via ssh, using the username: 'pi', and the password 'raspberry'. Then
        download the PiHole installer by running this command:
      </p>
      <div>
        <code> curl -sSL https://install.pi-hole.net | bash </code>
      </div>
      <br/>
      <p>
        Then, when the installer pops up, hit enter to continue. You will then
        have to choose an interface.
      </p>
      <li>Choose which interface to use</li>
      <p>eth0 for ethernet, and wlan for wifi</p>
      <img class="pihole_image" src="../../assets/pihole/pihole_interface.webp" alt="PiHole interface" />
      <li>Choose a DNS provider</li>
      <p>
          I prefer to use the Google DNS, but choose whichever one you are most comfortable
          with. 
      </p>
      <img class="pihole_image" src="../../assets/pihole/pihole_dns.webp" alt="PiHole dns" />
      <li>Choose third-party lists for ad blocking</li>
      <p>I would suggest to use the space bar to select them all</p>
      <img class="pihole_image" src="../../assets/pihole/pihole_lists.webp" alt="PiHole block list" />
      <li>Choose static ip address</li>
      <p>
         When your devices need to connect to your pi, we need to be able to keep the ip address
         of the pi the same. Hit yes to assign a static ip address to your pi.
      </p>
      <img class="pihole_image" src="../../assets/pihole/pihole_ip.webp" alt="PiHole static ip" />
      <p>
          The installer will then ask you if you want to enable the web admin interface, I would
          check 'On' and continue.
      </p>
      <img class="pihole_image" src="../../assets/pihole/pihole_ui.webp" alt="PiHole admin portal" />
      <li>Finally, select your privacy mode</li>
      <p>I would check 0 and continue.</p>
      <img class="pihole_image" src="../../assets/pihole/pihole_ftl.webp" alt="PiHole ftl" />
      <p>
          Your installation should be complete! This final page will give you your static IP,
          the link to your pihole admin webpage, and the login password for it.
      </p>
      <img class="pihole_image" src="../../assets/pihole/pihole_complete.webp" alt="PiHole completion" />
    </mat-card>
    <mat-card class="card">
      <h2>Router Setup</h2>
      <h5>May 8, 2021</h5>
      <img class="router_image" src="../../assets/pihole/pihole_router.jpg" alt="PiHole router" />
      <p>Generic Router</p>
      <p>
        In order for your divices to connect to your pihole instance, you'll need to change 
        what DNS server you router uses, to your raspberry pi ip address. 
      </p>
    </mat-card>
  </div>
  <div class="rightcolumn">
    <app-side-bar></app-side-bar>
  </div>
</div>

<mat-toolbar color="primary" id="toolbar">
    back to top
</mat-toolbar>
